
@{
    ViewBag.Title = "AboutUs";
}
<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4"> <h2> About Us</h2></div>
    <div class="col-md-4"></div>
</div>
<div class="col-md-12">
    <img class="img img-thumbnail" src="~/Content/Images/steak-about.jpg" width="100%"  style="height:480px" />
</div>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6"><h3>We are known to serve the best Lunch in town</h3></div>
        <div class="col-md-3"></div>
    </div>
    <span>
        As a restaurant that specializes in burgers, Burger – hence the name – is a dope free website template for you to consider. Of course, this tool is also perfect for fast-foods and other food establishments, as you can easily go against the grain with Burger. The design is very modern and appealing to the eye, making sure your professional photographs, food menu and other useful information come into view stunningly.
        Some more amazingness of Burger comes in the form of a massive slider, sticky navigation, testimonials and social media buttons. Along with the neat home design, Burger also offers you several more inner pages, including a blog and a contact section with form and Google Maps. If you are ready to create a killer online presence, taking your food creations to a whole new degree, let Burger do the trick.
    </span>
</div>